<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Roling 500</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/css/jass.css" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link href="https://fonts.cdnfonts.com/css/royal-acidbath" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">The Rolling 500</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navLinks collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Albums</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ratings</a>
              </li>
              {{#if logged_in}}
              <li class="nav-item">
                <a class="nav-link" href="/logout">Log Out</a> 
              {{else}}
                <a class="nav-link" href="/login">Log In</a>
              {{/if}}
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <span>Thanks for visiting!</span>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>