<body>
  <div>
    <canvas id="myChart" height="20px" width="100px"></canvas>
  </div>


  
  

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./visuals.js"></script>





















</body>