<body>
    <main>
      <section>
        <article>
          <div>
            <p>
              This is the perfect place to rate The Rolling Stones Top 25 Albums!
            </p>
            <p>
              All that is required is to create an account using the form below. Then you are all set!
            </p>
            <p>
              Please note that only one account per person. And no bots or auto-scripts!
            </p>
          </div>
        </article>
      </section>
      <aside>
      
      <h3>Sign Up</h3>
        <form class="signup-form">
          <input id="name-signup" type="text" placeholder="Username" />
          <input id="email-signup" type="text" placeholder="E-mail" />
          <input id="password-signup" type="password" placeholder="Password" />
          <button type="submit">Submit</button>
        </form>
        <h3>Login</h3>
        <form class="login-form">
          <input id="email-login" type="text" placeholder="E-mail" />
          <input id="password-login" type="password" placeholder="Password" />
          <button type="submit">Submit</button>
        </form>
      </aside>
    </main>

    <script src="./js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>