<section>
<div>
    <h1 class="text-center">According to users...</h1>
</div>

<div class="ratings-wrap">
    <ul class="rating-list">
    {{#each ratingsMap}}
        <h2 class="rating-group">Rating Group {{@key}}</h2>
        <ul>
        {{#each this}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
    {{/each}}
    </ul>
</div>
</section>