/* Variables */
:root {
  --main-text-color: rgb(143, 2, 2);
}


body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    background-color: tan;
  }
  
  header {
    font-family: 'Royal Acidbath', sans-serif;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: tan;
    color: var(--main-text-color);
  }
  
  .navbar-brand {
    color: var(--main-text-color);
    font-size: 200%;
  }

  .navLinks {
    color: var(--main-text-color);
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav a {
    color: var(--main-text-color);
    font-size: 150%;
  }

  .about {
    border: 2px solid black;
    width: 100rem;
    font-size: 200%;
    background-color: white;
    box-shadow: 4px 4px gray;
    border-radius: 20px;
    padding: 10px;
  }

  .signUp {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }

  .login {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
  }
  
  .credential-btn {
    background-color: var(--main-text-color);
    color: white;
    border-radius: 20px;
    border: none;
    box-shadow: 4px 4px black;
  }

  /* ALBUM PAGE */

  .card {
    align-items: center;
    border: solid 2px black;
    width: 100%;
    background-color: tan;
    margin: 10px;
  }

  .card img {
    width: 20rem;
    box-shadow: 6px 6px gray;
  }

  #myChart {
    padding: 10px;
    border: solid 4px black;
    box-shadow: 4px 4px gray;
  }

  /* RATINGS PAGE */
  .ratings-wrap {
    text-align: center;
  }

  .rating-group {
    font-family: 'Royal Acidbath', sans-serif;
    color: var(--main-text-color);
  }

  .rating-list li{
    list-style-type: none;
  }

  .text-center {
    font-family: 'Royal Acidbath', sans-serif;
    color: var(--main-text-color);
  }

  /* GENERAL */
  h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
  }
  
  h3 {
    font-size: 150%;
    font-family: serif;
  }
  
  aside {
    width: 25%;
  }
  
  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }

  .btn {
    width: 50px;
    background-color: var(--main-text-color);
    box-shadow: 4px 4px gray;
    color: white;
  }

  .btn:hover {
    background-color: black;
    color: white;
  }

  .about-section {
    display: flex;
    justify-content: center;
  }
  