* {
  background-color: #d6d2c2;
}

body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    font-size: 16px;
    
  }
  
  header {
    font-family: 'Royal Acidbath', sans-serif;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: white;
    color: red;
  }
  
  .navbar-brand {
    color: red;
    font-size: 200%;
  }

  .navLinks {
    color: red;
    display: flex;
    justify-content: flex-end;
  }

  .navbar-nav a {
    color: red;
    font-size: 150%;
  }

  .card {
    width: 100%;
  }

  .card img {
    width: 20rem;
  }

  /* Change the heading size to 200%, give it a margin all around, and assign font family to serif */

  
  /* Change header size to 180%, give it a 3% margin on top and bottom, and assign font family to serif */
  h2 {
    margin: 3% 0;
    font-size: 180%;
    font-family: serif;
  }
  
  /* Change header size to 150% and assign font family to serif */
  h3 {
    font-size: 150%;
    font-family: serif;
  }
  
  /* main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
  } */
  
  
  section {
    flex: 1 1 0;
    padding-right: 5%;
  }
  
  article {
    border-bottom: 1px solid cyan;
  }
  
  /* Add a margin to the top and bottom of the paragraphs */
  article p {
    margin: 2% 0;
  }
  
  /* Add a margin to indent the list, give it square bullet points, and assign font family to monospace */
  article ul {
    margin-left: 5%;
    list-style: square;
    font-family: monospace;
  }
  
  aside {
    width: 25%;
  }
  
  input,
  button {
    width: 100%;
    margin: 2% 0;
    padding: 1%;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: #13293d;
    color: #fff;
  }

  #myChart {
    padding: 10px;
    border: solid 4px darkblue;
    box-shadow: 4px 4px gray;
  }
  
  @media screen and (max-width: 768px) {
    header, main {
      flex-direction: column;
    }
  
    section {
      padding-right: 0;
    }
  
    aside {
      width: 100%;
      text-align: center;
    }
  }

  .btn {
    width: 50px;
    background-color: darkblue;
    box-shadow: 4px 4px gray;
    color: white;
  }
  